*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: rgb(74, 74, 72);
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
}

/* header setting */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}

label {
  display: inline-block;
}

textarea,
button {
  margin: 0;
}

/* Custom Styles */
section {
  padding: 5rem;
}

.heading {
  height: 200px;
  width: 100%;
  background-color:rgba(186, 186, 184, 0.831);
  text-align: center;
}

.title {
  font-family: 'Krona One', sans-serif;
} 

/* the current date */
.showday {
  color: rgb(214, 127, 39);
  font-size: 25px;
  margin-left: 4%;
  font-family: 'Roboto', sans-serif;
}

/* message to show to the user  */
.msg {
  font-size: 20px;
  font-style: italic;
  display: block;
  color: #642b2b;
  text-align: center;
  background-color: #fff;
}

/* event detail */
.event-container {
  display: grid;
  grid-template-columns: 60px auto 60px;
  overflow: scroll;
  gap: 5px;
  background-color: #cddfee;
  padding: 10px;
  grid-auto-flow: row;
  grid-auto-rows: 5%; 
  }

.event-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 15px;
}

/* hour column */
.item1 {
  grid-column: 1 / 2;
  padding: 10px 0; 
}

/* event detail column */
.item2 {
  grid-column: 2 / 3 ;
  color: #000000;
  font-size: 18px;
}

/* button column */
.item3 {
  grid-column: 3 / 3 ;
}

/* set up button  */
.image-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #75858a;
  color: #fff;
  padding: 5px 10px;
  border-bottom-right-radius: 15%;
  cursor: pointer;
  
}

/* an icon for the button */
.image-button img {
  height: 25px;
  margin-right: 10px;
}
